version: '3.8'

services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    volumes:
      - "./dynamodb_data:/home/dynamodblocal/data"
    ports:
      - "8000:8000"
    working_dir: /home/dynamodblocal
