service: careerhelper-backend

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: us-east-1
  httpApi:
    cors:
      allowedOrigins:
        - http://localhost:3000
        - https://careerhelper-web-dev-1765124463.s3.us-east-1.amazonaws.com
      allowedMethods:
        - OPTIONS
        - GET
        - POST
        - PUT
        - DELETE
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-Amz-Date
        - X-Amz-Security-Token
        - X-Api-Key
      allowCredentials: false
  environment:
    STAGE: ${self:provider.stage}
    USERS_TABLE: ${self:custom.usersTable}
    JOBS_TABLE: ${self:custom.jobsTable}
    EXPERIENCES_TABLE: ${self:custom.experiencesTable}
    APPLICATIONS_TABLE: ${self:custom.applicationsTable}
    JWT_SECRET: ${ssm:/careerhelper/${self:provider.stage}/jwt-secret}
    API_KEY: ${ssm:/careerhelper/${self:provider.stage}/api-key}
    JOB_SEARCH_API_URL: https://jsearch.p.rapidapi.com/search
    JOB_SEARCH_API_HOST: jsearch.p.rapidapi.com
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "*"
    - Effect: Allow
      Action:
        - secretsmanager:GetSecretValue
      Resource: "arn:aws:secretsmanager:${self:provider.region}:*:secret:careerhelper/${self:provider.stage}/*"
    - Effect: Allow
      Action:
        - ssm:GetParameter
      Resource: "arn:aws:ssm:${self:provider.region}:*:parameter/careerhelper/${self:provider.stage}/*"

custom:
  usersTable: !Ref UsersTable
  jobsTable: !Ref JobsTable
  experiencesTable: !Ref ExperiencesTable
  applicationsTable: !Ref ApplicationsTable

functions:
  getUser:
    handler: functions/getUser.handler
    events:
      - httpApi:
          path: /users/{userId}
          method: get

  createUser:
    handler: functions/createUser.handler
    events:
      - httpApi:
          path: /users
          method: post

  getJobs:
    handler: functions/getJobs.handler
    events:
      - httpApi:
          path: /jobs
          method: get

  searchJobs:
    handler: functions/searchJobs.handler
    events:
      - httpApi:
          path: /jobs/search
          method: get

  createJob:
    handler: functions/createJob.handler
    events:
      - httpApi:
          path: /jobs
          method: post

  getExperiences:
    handler: functions/getExperiences.handler
    events:
      - httpApi:
          path: /experiences/{userId}
          method: get

  createExperience:
    handler: functions/createExperience.handler
    events:
      - httpApi:
          path: /experiences
          method: post

  getApplications:
    handler: functions/getApplications.handler
    events:
      - httpApi:
          path: /applications/{userId}
          method: get

  createApplication:
    handler: functions/createApplication.handler
    events:
      - httpApi:
          path: /applications
          method: post

  health:
    handler: functions/health.handler
    events:
      - httpApi:
          path: /health
          method: get

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Users
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    JobsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Jobs
        AttributeDefinitions:
          - AttributeName: jobId
            AttributeType: S
        KeySchema:
          - AttributeName: jobId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    ExperiencesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Experiences
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: experienceId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: experienceId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    ApplicationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Applications
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: applicationId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: applicationId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST